[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
eventlet = "*"
flask = "*"
flask-restplus = "*"
flask_socketio = "*"
gunicorn = "*"
python-dotenv = "*"

[dev-packages]
pytest = "*"
bumpversion = "*"
pytest-sugar = "*"
pytest-cov = "*"

[requires]
python_version = "3.7"
